openapi: 3.0.0
info:
  title: Fuse
  version: 1.0.0
servers:
- description: Fuse sandbox API server
  url: https://sandbox-api.letsfuse.com
- description: Fuse production API server
  url: https://api.letsfuse.com
security:
- fuseApiKey: []
- fuseClientId: []
tags:
- name: Fuse
paths:
  /v1/financial_connections/accounts/details:
    post:
      operationId: getFinancialConnectionsAccountDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsAccountDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                account_details:
                - remote_id: wE8vEV1NkQClqEwmxrNlCzJK7JdmdnuE8maJm
                  ach:
                    account: "1111222233330000"
                    routing: "011401533"
                    wire_routing: "021000021"
                - remote_id: 5p9kpEarAyS8Gb5gJ4x8i1DqJDn9nBHGm8E9Q
                  ach:
                    account: "1111222233331111"
                    routing: "011401533"
                    wire_routing: "021000021"
                financial_connection:
                  id: 386fc942-6315-40d3-929b-2b828c00cecb
                  institution_id: 00d06864-c64d-4166-803f-c5cb0085bb72
                request_id: ca5cfdfe-1516-4a5f-aaf4-e694b88e3bc2
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsAccountDetailsResponse'
          description: Success
      summary: Get account details
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Get account details
  /v1/financial_connections/owners:
    post:
      operationId: getFinancialConnectionsOwners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsOwnersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - remote_account_id: acc_oe286ii1g856jdgejc000
                  owners:
                  - addresses:
                    - data:
                        city: GRAND MARAIS
                        country: US
                        postal_code: "55604"
                        region: MICHIGAN
                        street: 5030 PINEWOOD AVENUE
                      primary: true
                    - data:
                        city: ROYAL OAK
                        country: US
                        postal_code: "48067"
                        region: MICHIGAN
                        street: 1458 BARTLETT AVENUE
                      primary: false
                    names:
                    - data: NET TRAFFIC LLC
                      type: name
                    phone_numbers:
                    - data: "1112223333"
                      type: work
                    - data: "2223334444"
                      type: work
                    emails:
                    - data: net_traffic_llc@example.com
                    - data: net_traffic_royal_oak@example.com
                - remote_account_id: acc_oe286ii2g856jdgejc000
                  owners:
                  - addresses:
                    - data:
                        city: GRAND MARAIS
                        country: US
                        postal_code: "55604"
                        region: MICHIGAN
                        street: 5030 PINEWOOD AVENUE
                      primary: true
                    - data:
                        city: ROYAL OAK
                        country: US
                        postal_code: "48067"
                        region: MICHIGAN
                        street: 1458 BARTLETT AVENUE
                      primary: false
                    names:
                    - data: NET TRAFFIC LLC
                      type: name
                    phone_numbers:
                    - data: "1112223333"
                      type: work
                    - data: "2223334444"
                      type: work
                    emails:
                    - data: net_traffic_llc@example.com
                    - data: net_traffic_royal_oak@example.com
                - remote_account_id: acc_oe286ii20856jdgejc000
                  owners:
                  - addresses:
                    - data:
                        city: GRAND MARAIS
                        country: US
                        postal_code: "55604"
                        region: MICHIGAN
                        street: 5030 PINEWOOD AVENUE
                      primary: true
                    - data:
                        city: ROYAL OAK
                        country: US
                        postal_code: "48067"
                        region: MICHIGAN
                        street: 1458 BARTLETT AVENUE
                      primary: false
                    names:
                    - data: NET TRAFFIC LLC
                      type: name
                    phone_numbers:
                    - data: "1112223333"
                      type: work
                    - data: "2223334444"
                      type: work
                    emails:
                    - data: net_traffic_llc@example.com
                    - data: net_traffic_royal_oak@example.com
                request_id: e60f7545-65b4-44ac-9ce6-c1bf6eb2c5e2
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsOwnersResponse'
          description: Success
      summary: Get account owners
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/financial_connections/accounts/statement:
    post:
      description: "Retrieves an account statement for the given financial connection,\
        \ account and date. This endpoint may time out so we recommend using a retry\
        \ mechanism with exponential backoff."
      operationId: getFinancialConnectionsAccountStatement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsAccountStatementRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsAccountStatementResponse'
          description: Successful response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Get account statement
  /v1/financial_connections/accounts:
    post:
      operationId: getFinancialConnectionsAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsAccountsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accounts:
                - remote_id: wE8vEV1NkQClqEwmxrNlCzJK7JdmdnuE8maJm
                  mask: "0000"
                  name: Plaid Checking
                  type: depository
                  subtype: checking
                  balance:
                    available: 10000
                    current: 11000
                    iso_currency_code: USD
                  institution:
                    name: Chase
                  fingerprint: wW9cVAEkV8b7UuEBjuSMEN
                - remote_id: 5p9kpEarAyS8Gb5gJ4x8i1DqJDn9nBHGm8E9Q
                  mask: "1111"
                  name: Plaid Saving
                  type: depository
                  subtype: savings
                  balance:
                    available: 20000
                    current: 21000
                    iso_currency_code: USD
                  institution:
                    name: Chase
                  fingerprint: shtn2hM8zbBjQhUjM1sWit
                financial_connection:
                  id: 386fc942-6315-40d3-929b-2b828c00cecb
                  institution_id: 00d06864-c64d-4166-803f-c5cb0085bb72
                request_id: f17482cd-f31e-48e4-b4bb-1e7badb55d9e
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsAccountsResponse'
          description: Successful response
      summary: Get accounts
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/financial_connections/asset_report/create:
    post:
      description: "Use this endpoint to generate an Asset Report for a user. For\
        \ Plaid, you will need to have the assets product enabled on your plaid account."
      operationId: createAssetReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetReportResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Create an Asset Report
  /v1/financial_connections/asset_report/refresh:
    post:
      description: "Refreshes the Asset Report in JSON format. For Plaid, you will\
        \ need to have the assets product enabled on your plaid account."
      operationId: refreshAssetReport
      requestBody:
        content:
          application/json:
            examples:
              "0":
                value: |-
                  {"asset_report_token": "fca_dev_dev_6f12f5bb-22dd-4855-b918-f47ec439198a",
                    "asset_report_id": "1f414183-220c-44f5-b0c8-bc0e6d4053bb",
                    "request_id": "1764d296-b5bc-4e7f-a457-588f77200793"}
            schema:
              $ref: '#/components/schemas/RefreshAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetReportResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Refresh Asset Report
  /v1/financial_connections/asset_report:
    post:
      description: "Retrieves the Asset Report in JSON format. For Plaid, you will\
        \ need to have the assets product enabled on your plaid account."
      operationId: getAssetReport
      requestBody:
        content:
          application/json:
            examples:
              "0":
                value: "{\n\t\"asset_report_token\": \"fuse_ar_dev_1MV8sa\"\n}"
            schema:
              $ref: '#/components/schemas/GetAssetReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAssetReportResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Get an asset report
  /v1/financial_connections/balances:
    post:
      operationId: getFinancialConnectionsBalances
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsBalanceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                balances:
                - remote_account_id: wE8vEV1NkQClqEwmxrNlCzJK7JdmdnuE8maJm
                  available: 10000
                  current: 11000
                  iso_currency_code: USD
                - remote_account_id: 5p9kpEarAyS8Gb5gJ4x8i1DqJDn9nBHGm8E9Q
                  available: 20000
                  current: 21000
                  iso_currency_code: USD
                request_id: 03c19fc4-7678-4874-9136-ad5d9973387b
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsBalanceResponse'
          description: Successful response
      summary: Get balances
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/transactions/enrich:
    post:
      operationId: enrichTransactions
      parameters:
      - explode: false
        in: header
        name: Fuse-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Fuse-Api-Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichTransactionsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichTransactionsResponse'
          description: Success
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Enrich transactions
  /v1/entities/{entity_id}:
    get:
      description: An entity is automatically created after a successful connection.
        The id of the entity is what is set when calling the 'create session' endpoint
      operationId: getEntity
      parameters:
      - explode: false
        in: path
        name: entity_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: entity-id-test
                email: john@doe.com
                aggregators: []
                institution_ids: []
                financial_connections:
                - id: 6cdceb55-1826-4380-aa09-b0baa6d9e00b
                  connection_status: connected
                  connection_status_updated_at: 2023-03-22T12:05:59.011Z
                  is_oauth: false
                  aggregator: teller
                  teller:
                    access_token: test_token_bfuza4ywza8jk
                    enrollment_id: enr_oe1j1vu2ti1m303aja123
                - id: 7a0bf4a6-f56d-4ffe-8959-81a712180008
                  connection_status: disconnected
                  connection_status_updated_at: 2023-03-22T11:48:40.883Z
                  is_oauth: true
                  aggregator: mx
                  mx:
                    user_guid: USR-1cc0c011-c337-40ad-93e8-2073178aaf94
                    member_guid: MBR-9dc6130b-8747-4121-accd-4a1f2f2f41e2
                request_id: 12d92880-934c-49bf-9aa6-a29ed923903b
              schema:
                $ref: '#/components/schemas/GetEntityResponse'
          description: Success
      summary: Get entity
      tags:
      - Fuse
      x-accepts: application/json
    summary: Get entity
  /v1/accounts/{account_id}/events:
    description: "Used for products that rely on event data, such as finance score\
      \ and spend power."
    post:
      operationId: addAccountEvents
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAccountEventsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAccountEventsResponse'
          description: Successful response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Add account events
  /v1/accounts/{account_id}/finance_score:
    get:
      operationId: getFinanceScore
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFinanceScoreResponse'
          description: Successful response
      summary: Get finance score
      tags:
      - Fuse
      x-accepts: application/json
  /v1/financial_connections/public_token/exchange:
    post:
      description: API to exchange a public token for an access token and financial
        connection id
      operationId: exchangeFinancialConnectionsPublicToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeFinancialConnectionsPublicTokenRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: fuse_fca_dev_86953f1075eb554b6f9991efecc01ed98e07c514a71f127fc1f456b4546adf6d341d9077252952260aa972fa1743f475f96be29b356bf5f4081b86e2bbacaaf9d4e54552aa653e203ab0829e6151f4a0b3e95c0dc82d4dd0b7c85437d030ac96dd1ff7f8c669e04fd1bbc907c674bcbabda11800768b47390d9575
                financial_connection_id: 386fc942-6315-40d3-929b-2b828c00cede
                request_id: 1764d296-b5bc-4e7f-a457-588f77200793
              schema:
                $ref: '#/components/schemas/ExchangeFinancialConnectionsPublicTokenResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Exchange public token
  /v1/financial_connections/sync:
    post:
      description: Call this endpoint upon receiving a financial_connection.sync_data
        webhook. This will keep the financial connections data up to date.
      operationId: syncFinancialConnectionsData
      parameters:
      - explode: false
        in: header
        name: Fuse-Verification
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncFinancialConnectionsDataRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Financial connection data synced successfully.
                request_id: 1764d296-b5bc-4e7f-a457-588f77200784
              schema:
                $ref: '#/components/schemas/SyncFinancialConnectionsDataResponse'
          description: Successfully synchronized transactions
      summary: Sync financial connections data
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/financial_connections/institutions/{institution_id}:
    get:
      description: Receive metadata for a financial institution
      operationId: getFinancialInstitution
      parameters:
      - explode: false
        in: path
        name: institution_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                financial_institution:
                  id: 00d06864-c64d-4166-803f-c5cb0085bb72
                  name: Chase
                  logo:
                    image: iVBORw0KGgoAAAANSUhEUgAAAJgAAACYCAMAAAAvHNATAAAANlBMVEVHcEwOW6f///8IVqUPW6gQXKgRXKkPW6gTYKwPW6gbYqsxcbJ3ocza5vDs8/b0+Pmlwt1Vir96WNmQAAAACnRSTlMA////5HhLoCDGuAtrFAAABQNJREFUeNrt3H9vpCAQBuACIuC6wn7/L3vuXttb8UX5MdjJpVya3D9tngDiqDPz8dE67KiNcc4NgxDDsP7HGD3aj58cVhu3avAYnNE/wbOjSZredObauctCveGuWsAC1aet/6Ja7UTVcF1t1oiGYSxLVjdaO6sLjYZFT9OTIBuTpju2nCAdbmS2irTrOQ6iwxiaJ02LTqNtp9n07lJT7kjtNNtjGdUt3JfMMSvq5Uwvo3osMn+kZLXLaTDp9jyL7rJkBJGgGTKXeCw3teqKXH6VCTKZw/Pl/RM2y8KRnDNHcjk+t1YdTIZJUVycdsCX4rrlK2Fp2WBb11Hcnlu+FibvU/tq4nV8uaphXt5vrTJz4KqfMemTMtNyTny6GmBStsnwef99pLbA5JKSZdwDRnzH/j7qm2ByeSRkY9VBoaYgKWA+LTs9NNAFqUSQkmbG1t9PyFzNBguSDiZ9ItjQxRts42qHJWVj6QYLkhaWCtAOtpk5d5HAEjJTtJCxgQSWCNDG/CtyT6CB4QDNZV+RQEAEwzJ4ZdoJBazdYDBAm2zWzkcuOhgM0MD+t3kuQphHMns+YYlnRzoYDNDM6YS9Avy+MBig2bMJS7hoYUBmjifsK5DuDQNhkD2asLSLGuZ3MnMwYQcuahiYM5s+9NdA2l8G24WOOnWXVIfvcuhhcYDmEiv5HuBfA4vDIAtX8uXyJ7DHnXg88FoOyUAaw8REPjahLAwQg8yArSFL0b+/v5L8UYmA0aQD6RSs7zC7lVx3te8CU2dDgLW04A0FMWwKx2OO/qiNt1gnmLqdrUP0MWCMt1g32FJ2/Jv4sPg5mAwq3mRWsIDdp3iTaY4wHYVibGAmiizYwFx0o2QDe+5+wREmoliMD8xuQws+sHEb7vOB6e2DGx+Y4QtzPGHuF1YMG3jCBr4wwRMm+MJ+91gp7Pcc+29gv9FFKYxtoMg2tGb7MML28Y3vAy/bVwRsX6qwfQ3F9sUdk1edG9jA5+XwFmbi1+mKCWyMP0BkfO+7BGb3H98CB9gAvtRP890fjqUTbJn2H7m2eWPT7XjUfOLK+DLyPmMj/JAqSr6TkcHeM0OG/jU+2bDNBtHwY70iHxmwbe6FRekN6jETj+fH/RPY1uVwQsitrIAmK3XhBBZlhGicQnOSdtEBFmeq2FTSEbHsDBYnEpuDNK1wHczvknXtUWJbuG7GZnWcC7hN71HhKtiszrInzVY2XwML6jTf1J7kWHeBhdPcSZANOPvusH1as8lIacb5uZSwkJfSvLuVE8mSMJBsrfPS5svqTkthwOVyCw1IZBDmYQr4mFuaoRTBLR3PWGZqerKYhUAGYagK7qhmahT0MgSD1XljWcFUswzAoEuXlpg9AzRPCoNPgK6iKK8tQNvBYF3eeSXvKIhlMQzXC45VhZ+qJUCLYLhaUNeWyjYEaFsYdjUU8dbLtrC5wYVrzapDx3cYrmBsLRSf606Nd1irK1FoObfCoGsoa0YAa3mrArR/sADnq7SDCZYtDbDQuo5H12aF7AsG6xapWoSoCtknDNagVrnw+7zyYOMF87DdRXXvHtgep1D2Kn65IVdLtyN0cRbO2WvLT8Dl2vpD6TbZkuw/09zsCyynmkrec8IxEHT6svDqzH8zDK9GmrZt1Y3RUj1U6Do+Mm0lx7j5Ht92hYwbPDJuicm4iSjjtqucG9Vybu37vagMmyG/z12X9tF/APITr9CCbDsMAAAAAElFTkSuQmCC
                    type: base64
                    format: png
                  website: https://www.chase.com
                  country_codes:
                  - US
                request_id: 1764d296-b5bc-4e7f-a457-588f77200784
              schema:
                $ref: '#/components/schemas/GetFinancialInstitutionResponse'
          description: Financial institution metadata
      summary: Get a financial institution
      tags:
      - Fuse
      x-accepts: application/json
  /v1/financial_connections/{financial_connection_id_to_delete}:
    delete:
      operationId: deleteFinancialConnection
      parameters:
      - explode: false
        in: path
        name: financial_connection_id_to_delete
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: fuse_fca_dev_86953f1075eb554b6f9991efecc01ed98e07c514a71f127fc1f456b4546adf6d341d9077252952260aa972fa1743f475f96be29b356bf5f4081b86e2bbacaaf9d4e54552aa653e203ab0829e6151f4a0b3e95c0dc82d4dd0b7c85437d030ac96dd1ff7f8c669e04fd1bbc907c674bcbabda11800768b47390d9575
                financial_connection_id: 386fc942-6315-40d3-929b-2b828c00cede
                request_id: 1764d296-b5bc-4e7f-a457-588f77200736
              schema:
                $ref: '#/components/schemas/DeleteFinancialConnectionResponse'
          description: Success
      summary: Delete a financial connection
      tags:
      - Fuse
      x-accepts: application/json
    summary: Delete a financial connection
  /v1/financial_connections/{financial_connection_id}:
    get:
      operationId: getFinancialConnection
      parameters:
      - explode: false
        in: path
        name: financial_connection_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                financial_connection:
                  aggregator: plaid
                  connection_status: connected
                  connection_status_updated_at: 2023-04-09T22:43:08.019Z
                  id: 386fc942-6315-40d3-929b-2b828c00cecb
                  is_oauth: false
                  plaid:
                    access_token: access-sandbox-4b46e3b1-6f8c-48a8-b3c3-44ec91b18785
                    item_id: MqKJqMVAQdfa8MoDkveaFrEDznlK83t9k6JpZ
                request_id: 1764d296-b5bc-4e7f-a457-588f77200736
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionResponse'
          description: Success
      summary: Get financial connection details
      tags:
      - Fuse
      x-accepts: application/json
    summary: Get financial connection details
  /v1/financial_connections/migrate:
    post:
      description: "This endpoint migrates financial connections from Plaid or MX\
        \ into the unified Fuse API. It accepts a POST request with connection data,\
        \ aggregator, entity, and Fuse products, and responds with a JSON payload\
        \ containing the migrated connection's data, access token, ID, and request\
        \ ID."
      operationId: migrateFinancialConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateFinancialConnectionsTokenRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                connection_data:
                  plaid:
                    access_token: access-sandbox-4b46e3b1-6f8c-48a8-b3c3-44ec91b18785
                fuse_access_token: fuse_fca_dev_86953f1075eb554b6f9991efecc01ed98e07c514a71f127fc1f456b4546adf6d341d9077252952260aa972fa1743f475f96be29b356bf5f4081b86e2bbacaaf9d4e54552aa653e203ab0829e6151f4a0b3e95c0dc82d4dd0b7c85437d030ac96dd1ff7f8c669e04fd1bbc907c674bcbabda11800768b47390d9575
                fuse_financial_connection_id: 386fc942-6315-40d3-929b-2b828c00cede
                request_id: 1764d296-b5bc-4e7f-a457-588f772007234
              schema:
                $ref: '#/components/schemas/MigrateFinancialConnectionsTokenResponse'
          description: Success
      summary: Migrate financial connection
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Migrate financial connection
  /v1/financial_connections/investments/holdings:
    post:
      operationId: getInvestmentHoldings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInvestmentHoldingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvestmentHoldingsResponse'
          description: Successful response
      summary: Get investment holdings
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/financial_connections/investments/transactions:
    post:
      operationId: getInvestmentTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInvestmentTransactionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvestmentTransactionsResponse'
          description: Successful response
      summary: Get investment transactions
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/financial_connections/liabilities:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLiabilitiesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiabilitiesResponse'
          description: Successful response
      summary: Get liabilities
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/link/token:
    post:
      description: Create a link token to start the process of a user connecting to
        a specific financial institution.
      operationId: createLinkToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkTokenRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                link_token: eyJhZ2dyZWdhdG9yIjoicGxhaWQiLCJwbGFpZCI6eyJsaW5rX3Rva2VuIjoibGluay1zYW5kYm94LTE2YzA4NDE1LTc1YmEtNGEzMi04OTVkLWRiMjg5ZTY0ZDZkMSJ9LCJzZXNzaW9uX2NsaWVudF9zZWNyZXQiOiJmdXNlX3Nlc3NfZGV2XzY0MzUzNTA5LWRkMDEtNGNhZi04OWQ3LTIxNzI0MmIzODYzOCJ9
                request_id: a4a07596-6f37-4fb8-87ba-1929c057585c
              schema:
                $ref: '#/components/schemas/CreateLinkTokenResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Create link token
  /v1/risk_report/consumer:
    post:
      description: Starts the background process that will calculate the consumer
        risk report depending on the customization passed in.
      operationId: createConsumerRiskReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsumerRiskReportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConsumerRiskReportResponse'
          description: Successful response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Create consumer risk report
  /v1/risk_report/consumer/customization:
    post:
      operationId: createConsumerRiskReportCustomization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsumerRiskReportCustomizationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConsumerRiskReportCustomizationResponse'
          description: Successful response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Create Consumer Risk Report customization
  /v1/risk_report/consumer/customization/{consumer_risk_report_customization_id}:
    get:
      operationId: getConsumerRiskReportCustomization
      parameters:
      - explode: false
        in: path
        name: consumer_risk_report_customization_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Fuse-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Fuse-Api-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConsumerRiskReportCustomizationResponse'
          description: Successful response
      summary: Get consumer risk report customization
      tags:
      - Risk Report
      x-accepts: application/json
    post:
      operationId: updateConsumerRiskReportCustomization
      parameters:
      - explode: false
        in: path
        name: consumer_risk_report_customization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsumerRiskReportCustomizationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateConsumerRiskReportCustomizationResponse'
          description: Successful response
      summary: Update consumer risk report customization
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
  /v1/risk_report/consumer/{consumer_risk_report_id}:
    delete:
      operationId: deleteConsumerRiskReport
      parameters:
      - explode: false
        in: path
        name: consumer_risk_report_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Fuse-Client-Id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Fuse-Api-Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConsumerRiskReportResponse'
          description: Successful response
      summary: Delete consumer risk report
      tags:
      - Risk Report
      x-accepts: application/json
    get:
      operationId: getConsumerRiskReport
      parameters:
      - explode: false
        in: path
        name: consumer_risk_report_id
        required: true
        schema:
          type: string
        style: simple
      - description: "An optional boolean parameter. If set to true, the system will\
          \ recalculate before returning the risk report. If omitted or set to false,\
          \ the current risk report will be returned without recalculation."
        explode: true
        in: query
        name: recalculate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConsumerRiskReportResponse'
          description: Successful response
      summary: Get consumer risk report
      tags:
      - Fuse
      x-accepts: application/json
  /v1/session:
    post:
      description: Creates a session that returns a client_secret which is required
        as a parameter when initializing the Fuse SDK.
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                client_secret: fuse_sess_dev_551e8b4b-1938-42f9-932d-b35ff26fbb2b
                expiration: 2023-04-09T22:43:08.019Z
                request_id: d00a843c-612c-42b0-a1d0-aefda2643c7c
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
          description: Response
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Create session
  /v1/financial_connections/transactions:
    post:
      operationId: getFinancialConnectionsTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFinancialConnectionsTransactionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                remote_id: txn_oe6tjststms4cnsdmu01q
                remote_account_id: acc_oe6th46pbqbck1o564123
                amount: 4943
                date: 2023-01-08
                description: Dollar General
                category:
                - supermarkets_and_groceries
                merchant:
                  name: DOLLAR GENERAL
                status: posted
                type: card_payment
                remote_data:
                  date: 2023-01-08
                  amount: "49.43"
                  account_id: acc_oe6th46pbqbck1o564000
                  description: Dollar General
                  links:
                    self: https://api.teller.io/accounts/acc_oe6th46pbqbck1o564000/transactions/txn_oe6tjststms4cnsdmu00q
                    account: https://api.teller.io/accounts/acc_oe6th46pbqbck1o564000
                  details:
                    category: groceries
                    processing_status: complete
                    counterparty:
                      type: organization
                      name: DOLLAR GENERAL
                  id: txn_oe6tjststms4cnsdmu00q
                  type: card_payment
                  running_balance: 123.23
                  status: posted
              schema:
                $ref: '#/components/schemas/GetFinancialConnectionsTransactionsResponse'
          description: Success
      summary: Get transactions
      tags:
      - Fuse
      x-content-type: application/json
      x-accepts: application/json
    summary: Get transactions
components:
  schemas:
    FinancialConnectionsAccount:
      example:
        institution:
          name: name
        balance:
          current: 6.027456183070403
          available: 0.8008281904610115
          iso_currency_code: iso_currency_code
          last_updated_date: last_updated_date
        subtype: null
        remote_id: remote_id
        fingerprint: fingerprint
        name: name
        currency: currency
        type: null
        mask: mask
        remote_data: ""
      properties:
        remote_id:
          description: "Remote Id of the account, ie Plaid or Teller account id"
          type: string
        currency:
          description: The ISO-4217 currency code of the account.
          type: string
        fingerprint:
          description: "Uniquely identifies this account across all accounts for a\
            \ single financial connection. Used for reconnection deduplication. See\
            \ more information here: https://letsfuse.readme.io/docs/duplicate-accounts"
          type: string
        institution:
          $ref: '#/components/schemas/FinancialConnectionsAccount_institution'
        mask:
          description: The partial account number.
          type: string
        name:
          description: "The account's name, ie 'My Checking'"
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
        subtype:
          $ref: '#/components/schemas/AccountSubtype'
        balance:
          $ref: '#/components/schemas/FinancialConnectionsAccountCachedBalance'
        remote_data: {}
      required:
      - balance
      - currency
      - fingerprint
      - name
      - remote_data
      - remote_id
      - type
      type: object
    FinancialConnectionsAccountCachedBalance:
      example:
        current: 6.027456183070403
        available: 0.8008281904610115
        iso_currency_code: iso_currency_code
        last_updated_date: last_updated_date
      properties:
        available:
          description: |-
            The amount of funds available, in cents, to be withdrawn from the account, as determined by the financial institution. The format of this value is a double.
            Available balance may be cached and is not guaranteed to be up-to-date in realtime unless the value was returned by /financial_connections/balances.
            For accounts with credit features, the available funds generally equal the credit limit.
            Some institutions may not provide an available balance calculation. If this is the case, Fuse will return a null value for the available balance. To ensure you have the most accurate information, we recommend obtaining the current balance by using 'balance.available || balance.current'.
          nullable: true
          type: number
        current:
          description: "Amount without factoring in pending balances, in cents. The\
            \ format of this value is a double."
          nullable: true
          type: number
        iso_currency_code:
          description: The ISO-4217 currency code of the balance.
          nullable: true
          type: string
        last_updated_date:
          description: The date of the last update to the balance.
          nullable: true
          type: string
      type: object
    FinancialConnectionsAccountBalance:
      example:
        current: 6.027456183070403
        available: 0.8008281904610115
        iso_currency_code: iso_currency_code
        last_updated_date: last_updated_date
        remote_account_id: remote_account_id
      properties:
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          type: string
        available:
          description: |-
            Amount in cents after factoring in pending balances. The format of this value is a double.
            For accounts with credit features, the available funds generally equal the credit limit.
            Some institutions may not provide an available balance calculation. If this is the case, Fuse will return a null value for the available balance. To ensure you have the most accurate information, we recommend obtaining the current balance by using 'balance.available || balance.current'.
          nullable: true
          type: number
        current:
          description: Amount in cents without factoring in pending balances. The
            format of this value is a double.
          nullable: true
          type: number
        iso_currency_code:
          description: The ISO-4217 currency code of the balance.
          nullable: true
          type: string
        last_updated_date:
          description: "The last time the account balance was updated, represented\
            \ as an ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ssZ). This value may not\
            \ be available for some accounts."
          nullable: true
          type: string
      required:
      - remote_account_id
      type: object
    FinancialConnectionsOwner:
      example:
        emails:
        - data: data
          type: primary
          primary: true
        - data: data
          type: primary
          primary: true
        phone_numbers:
        - data: data
          type: home
          primary: true
        - data: data
          type: home
          primary: true
        addresses:
        - data:
            country: country
            city: city
            street: street
            full_address: full_address
            postal_code: postal_code
            region: region
          primary: true
        - data:
            country: country
            city: city
            street: street
            full_address: full_address
            postal_code: postal_code
            region: region
          primary: true
        names:
        - data: data
          type: type
        - data: data
          type: type
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_addresses_inner'
          type: array
        emails:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_emails_inner'
          type: array
        names:
          description: List of names associated with the owner
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_names_inner'
          type: array
        phone_numbers:
          items:
            $ref: '#/components/schemas/FinancialConnectionsOwner_phone_numbers_inner'
          type: array
      required:
      - addresses
      - emails
      - names
      - phone_numbers
      type: object
    FuseApiErrorCode:
      enum:
      - asset_report_generation_failed
      - asset_report_not_ready
      - client_error
      - invalid_headers
      - invalid_request_body
      - internal_server_error
      - organization_not_found
      - entity_not_found
      - session_not_found
      - financial_institution_not_found
      - consumer_risk_report_not_found
      - consumer_risk_report_customization_not_found
      - missing_access_token
      - missing_plaid_client_id_header
      - missing_plaid_secret_header
      - missing_mx_client_id_header
      - missing_mx_api_key_header
      - missing_teller_private_key_header
      - missing_teller_certificate_header
      - missing_teller_application_id_header
      - missing_teller_signing_secret_header
      - missing_snaptrade_client_id_header
      - missing_snaptrade_consumer_key_header
      - missing_flinks_ca_customer_id_header
      - missing_flinks_us_customer_id_header
      - missing_flinks_ca_instance_id_header
      - missing_flinks_us_instance_id_header
      - missing_mono_public_key_header
      - missing_mono_secret_key_header
      - missing_mono_webhook_secret_header
      - missing_truelayer_client_id_header
      - missing_truelayer_client_secret_header
      - missing_truelayer_redirect_uri_header
      - missing_finverse_client_id_header
      - missing_finverse_client_secret_header
      - missing_finverse_redirect_uri_header
      - missing_basiq_api_key_header
      - missing_belvo_secret_id_header
      - missing_belvo_secret_password_header
      - missing_finicity_partner_id_header
      - missing_finicity_app_key_header
      - missing_finicity_partner_secret_header
      - missing_fuse_verification_header
      - missing_akoya_client_id_header
      - missing_akoya_client_secret_header
      - missing_saltedge_app_id_header
      - missing_saltedge_app_secret_header
      - aggregator_error
      - aggregator_disconnected_error
      - aggregator_connection_finished_error
      - aggregator_rate_limit_error
      - request_body_missing
      - request_content_type_invalid
      - request_body_invalid_json
      - webhook_error
      - timeout
      - invalid_certificate
      - invalid_private_key
      - other
      type: string
    FuseApiErrorType:
      enum:
      - auth_error
      - not_found
      - bad_request
      - server_error
      type: string
    FuseApiError:
      properties:
        request_id:
          type: string
        title:
          type: string
        details:
          type: string
        code:
          $ref: '#/components/schemas/FuseApiErrorCode'
        type:
          $ref: '#/components/schemas/FuseApiErrorType'
        source:
          enum:
          - internal
          - aggregator
          type: string
        data:
          $ref: '#/components/schemas/FuseApiError_data'
      required:
      - code
      - details
      - request_id
      - source
      - title
      - type
      type: object
    FuseApiAggregatorError:
      properties:
        request_id:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        details:
          nullable: true
          type: string
        code:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
        path:
          type: string
      type: object
    FuseApiWarning:
      properties:
        title:
          type: string
        details:
          type: string
        code:
          type: string
        type:
          type: string
        source:
          enum:
          - internal
          - aggregator
          type: string
        data:
          $ref: '#/components/schemas/FuseApiWarning_data'
      type: object
    Product:
      enum:
      - account_details
      - balance
      - ownership
      - transactions
      - investments
      - assets
      type: string
    CountryCode:
      enum:
      - AE
      - AM
      - AR
      - AT
      - AU
      - BD
      - BE
      - BG
      - BH
      - BM
      - BN
      - BR
      - BW
      - BY
      - CA
      - CH
      - CI
      - CL
      - CM
      - CN
      - CO
      - CZ
      - DE
      - DO
      - DZ
      - EC
      - EG
      - ES
      - FI
      - FK
      - FR
      - GB
      - GG
      - GH
      - GM
      - GR
      - HK
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IT
      - JE
      - JO
      - JP
      - KE
      - KH
      - KR
      - KW
      - LA
      - LB
      - LK
      - LT
      - LU
      - MC
      - MD
      - MK
      - MO
      - MT
      - MU
      - MV
      - MX
      - MY
      - NG
      - NL
      - NP
      - NZ
      - OM
      - PE
      - PH
      - PK
      - PL
      - PT
      - QA
      - RO
      - RU
      - SA
      - SE
      - SG
      - SK
      - SL
      - TH
      - TR
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - VN
      - ZA
      - ZM
      - ZW
      type: string
    Aggregator:
      enum:
      - akoya
      - basiq
      - belvo
      - finicity
      - finverse
      - flinks
      - mono
      - mx
      - plaid
      - saltedge
      - snaptrade
      - teller
      - truelayer
      type: string
    WebhookSource:
      enum:
      - plaid
      - teller
      - mx
      - fuse
      - snaptrade
      - mono
      - truelayer
      - finverse
      type: string
    WebhookType:
      enum:
      - financial_connection.sync_data
      - financial_connection.disconnected
      - financial_connection.finished
      - transactions.updates
      - assets.report_ready
      type: string
    WebhookEvent:
      properties:
        type:
          $ref: '#/components/schemas/WebhookType'
        financial_connection_id:
          description: Financial connection id associated with the webhook
          type: string
        environment:
          enum:
          - sandbox
          - production
          type: string
        source:
          $ref: '#/components/schemas/WebhookSource'
        verification_token:
          description: Aggregator verification data needed to verify the webhook
          type: string
        asset_report_id:
          description: Exists for assets.report_ready webhooks
          type: string
        historical_transactions_available:
          description: Exists for transactions.updates webhooks. Indicates if historical
            transaction information (up to 24 months) is ready to be queried.
          type: boolean
        removed_transaction_ids:
          description: Exists for transactions.updates webhooks. Currently only supported
            by Plaid.
          items:
            type: string
          type: array
        remote_data: {}
      required:
      - environment
      - financial_connection_id
      - remote_data
      - source
      - type
      type: object
    AccountType:
      description: The account's type. '-' means we were not able to map the upstream
        type.
      enum:
      - depository
      - credit
      - loan
      - investment
      - insurance
      - property
      - annuity
      - other
      - "-"
      type: string
    AccountSubtype:
      description: The account's subtype
      enum:
      - checking
      - savings
      - checking_or_savings
      - business_checking_or_savings
      - business_savings
      - money_market
      - certificate_of_deposit
      - treasury
      - credit_card
      - debit_card
      - bonds
      - hsa
      - paypal
      - prepaid
      - cash_management
      - ebt
      - auto
      - business
      - commercial
      - construction
      - consumer
      - home_equity
      - foreign
      - loan
      - mortgage
      - overdraft
      - line_of_credit
      - student
      - "529"
      - 401_a
      - 401_k
      - 403_b
      - 457_b
      - funds
      - brokerage
      - securities
      - stocks
      - cash_isa
      - crypto_exchange
      - education_saving_account
      - fixed_annuity
      - gic
      - health_reimbursement_arrangement
      - ira
      - isa
      - keogh
      - lif
      - life_insurance
      - lira
      - lrif
      - lrsp
      - mutual_fund
      - non_custodial_wallet
      - non_taxable_brokerage_account
      - other_annuity
      - other_insurance
      - pension
      - prif
      - profit_sharing_plan
      - qshr
      - rdsp
      - resp
      - retirement
      - rlif
      - roth_ira
      - roth_401_k
      - rrif
      - rrsp
      - sarsep
      - sep_ira
      - simple_ira
      - sipp
      - stock_plan
      - tfsa
      - trust
      - ugma
      - utma
      - variable_annuity
      - small_business
      - personal
      - personal_with_collateral
      - "457"
      - rollover_ira
      - taxable
      - non_taxable
      - employee_stock_ownership_plan
      - individual
      - cash_management_account
      - employee_stock_purchase_plan
      - registered_education_savings_plan
      - fixed_annuity_traditional_ira
      - inherited_traditional_ira
      - fixed_annuity_roth_ira
      - variable_annuity_roth_ira
      - inherited_roth_ira
      - advisory_account
      - brokerage_margin
      - charitable_gift_account
      - church_account
      - conservatorship
      - custodial
      - defined_benefit_plan
      - defined_contribution_plan
      - educational
      - estate
      - executor
      - group_retirement_savings_plan
      - guaranteed_investment_certificate
      - indexed_annuity
      - investment_club
      - irrevocable_trust
      - joint_tenants_by_entirety
      - joint_tenants_community_property
      - joint_tenants_in_common
      - joint_tenants_with_rights_of_survivorship
      - keough_plan
      - living_trust
      - locked_in_retirement_account
      - locked_in_retirement_investment_fund
      - locked_in_retirement_savings_account
      - money_purchase_plan
      - partnership
      - 409_a
      - rpp
      - revocable_trust
      - roth_conversion
      - sole_proprietorship
      - spousal_ira
      - spousal_roth_ira
      - testamentary_trust
      - thrift_savings_plan
      - inherited_annuity
      - corporate_account
      - limited_liability_account
      - boat
      - powersports
      - rv
      - heloc
      - vehicle_insurance
      - disability
      - health
      - long_term_care
      - property_and_casualty
      - universal_life
      - term_life
      - whole_life
      - accidental_death_and_dismemberment
      - variable_universal_life
      - revolving
      - other
      - time_deposit
      - roth
      - military
      - installment
      - institutional_trust
      - home_line_of_credit
      - guardian
      - commercial_line_of_credit
      - charge
      - coverdell
      - escrow
      - "-"
      nullable: true
      type: string
    Entity:
      example:
        phone: phone
        name: name
        id: id
        email: email
      properties:
        id:
          description: "Unique identifier for the user or business account that is\
            \ connecting to an institution. Use this id when calling the GET /entities/${entity_id}\
            \ endpoint."
          type: string
        name:
          description: Name for the user or business account. Required for EU connections.
          type: string
        email:
          description: Email address associated with the user or business account.
            One of email/phone is required for EU connections.
          type: string
        phone:
          description: Phone number associated with the user or business account.
            One of email/phone is required for EU connections.
          type: string
      required:
      - id
      type: object
    FinancialConnectionData:
      example:
        id: id
        institution_id: institution_id
      properties:
        id:
          description: The financial connection id.
          type: string
        institution_id:
          description: The Fuse Institution ID associated with the financial connection
          nullable: true
          type: string
      required:
      - id
      type: object
    FinancialConnectionDetails:
      example:
        flinks:
          login_id: login_id
        finverse:
          access_token: access_token
          login_identity_id: login_identity_id
        akoya:
          refresh_token: refresh_token
          expires_at: expires_at
          id_token: id_token
        connection_status: connected
        aggregator: null
        snaptrade:
          user_secret: user_secret
          user_id: user_id
          brokerage_authorization_id: brokerage_authorization_id
        teller:
          access_token: access_token
          enrollment_id: enrollment_id
        mx:
          member_guid: member_guid
          user_guid: user_guid
        is_oauth: true
        basiq:
          user_id: user_id
          connection_id: connection_id
        mono:
          account_id: account_id
        saltedge:
          connection_id: connection_id
        belvo:
          institution: institution
          link_id: link_id
        finicity:
          institution_login_id: institution_login_id
          customer_id: customer_id
        truelayer:
          access_token: access_token
        id: id
        connection_status_updated_at: connection_status_updated_at
        plaid:
          access_token: access_token
          item_id: item_id
      properties:
        id:
          description: The fuse financial connection id.
          type: string
        connection_status:
          description: Connection status of the current financial connection
          enum:
          - connected
          - disconnected
          - finished
          type: string
        connection_status_updated_at:
          description: Last time the connection status was updated in ISO-8601 format.
          type: string
        is_oauth:
          description: Whether this is an oauth connection
          type: boolean
        aggregator:
          $ref: '#/components/schemas/Aggregator'
        plaid:
          $ref: '#/components/schemas/FinancialConnectionDetails_plaid'
        teller:
          $ref: '#/components/schemas/FinancialConnectionDetails_teller'
        mx:
          $ref: '#/components/schemas/FinancialConnectionDetails_mx'
        snaptrade:
          $ref: '#/components/schemas/FinancialConnectionDetails_snaptrade'
        flinks:
          $ref: '#/components/schemas/FinancialConnectionDetails_flinks'
        mono:
          $ref: '#/components/schemas/FinancialConnectionDetails_mono'
        truelayer:
          $ref: '#/components/schemas/FinancialConnectionDetails_truelayer'
        finverse:
          $ref: '#/components/schemas/FinancialConnectionDetails_finverse'
        basiq:
          $ref: '#/components/schemas/FinancialConnectionDetails_basiq'
        belvo:
          $ref: '#/components/schemas/FinancialConnectionDetails_belvo'
        finicity:
          $ref: '#/components/schemas/FinancialConnectionDetails_finicity'
        akoya:
          $ref: '#/components/schemas/FinancialConnectionDetails_akoya'
        saltedge:
          $ref: '#/components/schemas/FinancialConnectionDetails_saltedge'
      required:
      - aggregator
      - connection_status
      - connection_status_updated_at
      - id
      - is_oauth
      type: object
    FinancialInstitutionLogo:
      example:
        image: image
        format: png
        type: base64
      properties:
        image:
          description: Base64-encoded image data or URL for the image.
          type: string
        type:
          description: Type of the image.
          enum:
          - base64
          - url
          type: string
        format:
          description: "Optional format of the image, if known."
          enum:
          - png
          - jpeg
          - gif
          - svg+xml
          type: string
      required:
      - image
      - type
      type: object
    FinancialInstitution:
      example:
        website: website
        name: name
        logo:
          image: image
          format: png
          type: base64
        country_codes:
        - null
        - null
        id: id
      properties:
        id:
          description: Unique identifier for the financial institution id.
          type: string
        name:
          description: Name for the financial institution.
          type: string
        logo:
          $ref: '#/components/schemas/FinancialInstitutionLogo'
        website:
          description: Website of the financial institution.
          type: string
        country_codes:
          description: List of country codes supported by this institution
          items:
            $ref: '#/components/schemas/CountryCode'
          type: array
      required:
      - country_codes
      - id
      - name
      type: object
    Transaction:
      example:
        date: date
        amount: 0.8008281904610115
        remote_id: remote_id
        fingerprint: fingerprint
        iso_currency_code: iso_currency_code
        description: description
        merchant:
          name: name
        category:
        - accessories_store
        - accessories_store
        type: ach
        remote_account_id: remote_account_id
        status: pending
        remote_data: ""
      properties:
        remote_id:
          description: "Remote Id of the transaction, ie Plaid or Teller Id"
          type: string
        fingerprint:
          description: "Uniquely identifies this transaction across all transactions\
            \ for a single financial connection. Used for reconnection deduplication.\
            \ This field may or may not be present depending on if a transaction can\
            \ be uniquely identified. See more information here: https://letsfuse.readme.io/docs/duplicate-accounts"
          type: string
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          type: string
        amount:
          description: "Amount in cents associated with the transaction. The format\
            \ of this value is a double. \nPositive values when money moves out of\
            \ the account; negative values when money moves in. For example, debit\
            \ card purchases are positive; credit card payments, direct deposits,\
            \ and refunds are negative."
          type: number
        date:
          description: Date of the transaction (YYYY-MM-DD)
          type: string
        description:
          description: Description of the transaction
          type: string
        category:
          description: "Categories of the transaction, i.e., Computers and Electronics.\
            \ You can download the categories from [here](https://fuse-public-bucket.s3.amazonaws.com/transaction-categories.csv)"
          items:
            enum:
            - accessories_store
            - accounting_and_bookkeeping
            - ach
            - acorns
            - acupuncture
            - adult
            - adult_education
            - adult_entertainment
            - advertising
            - advertising_agencies_and_media_buyers
            - advertising_and_marketing
            - afghan
            - african
            - agriculture_and_forestry
            - airlines_and_aviation_services
            - airports
            - alcohol_and_bars
            - alternative_medicine
            - american
            - anesthesiologists
            - animal_shelter
            - antiques
            - apartments_condos_and_houses
            - apparel_and_fabric_products
            - aquarium
            - arcades_and_amusement_parks
            - architects
            - art_and_graphic_design
            - art_dealers_and_galleries
            - art_restoration
            - art_school
            - arts_and_crafts
            - arts_and_entertainment
            - asian
            - assisted_living_services
            - athletic_fields
            - atm
            - atms
            - auctions
            - audiovisual
            - australian
            - auto_oil_and_lube
            - auto_payment
            - auto_smog_check
            - auto_tires
            - auto_transmission
            - automation_and_control_systems
            - automotive
            - bagel_shop
            - bakery
            - bank_fees
            - banking_and_finance
            - bar
            - barbecue
            - baseball
            - basketball
            - batting_cages
            - beaches
            - beauty_products
            - bed_and_breakfasts
            - beer_wine_and_spirits
            - benefits
            - betterment
            - bicycles
            - bill
            - billiards_and_pool
            - billpay
            - blood_banks_and_centers
            - boarding_houses
            - boat
            - boat_dealers
            - boating
            - books_and_supplies
            - bookstores
            - boutique
            - bowling
            - brazilian
            - breakfast_spot
            - breweries
            - building_and_land_surveyors
            - buildings_and_structures
            - burgers
            - burrito
            - bus_stations
            - business
            - business_and_strategy_consulting
            - business_brokers_and_franchises
            - business_services
            - cable
            - cafe
            - cajun
            - cameras
            - campgrounds_and_rv_parks
            - canoes_and_kayaks
            - car_and_truck_rentals
            - car_appraisers
            - car_dealers_and_leasing
            - car_parts_and_accessories
            - car_service
            - car_wash_and_detail
            - cardiologists
            - cards_and_stationery
            - caretakers
            - caribbean
            - carpenters
            - carpet_and_flooring
            - cash_advance
            - casinos_and_gaming
            - catering
            - cemetery
            - charities_and_non-profits
            - charity
            - charter_buses
            - chase_quickpay
            - check
            - check_cashing
            - chemicals_and_gasses
            - childcare
            - children
            - chinese
            - chiropractors
            - churches
            - circuses_and_carnivals
            - classic_and_antique_car
            - cleaning
            - clothing
            - clothing_and_accessories
            - coal
            - coffee_shop
            - coinbase
            - collections
            - colleges_and_universities
            - combat_sports
            - commercial_real_estate
            - community
            - computer_training
            - computers
            - computers_and_electronics
            - computers_and_office_machines
            - construction
            - construction_supplies
            - contractors
            - convenience_stores
            - corporate_housing
            - correctional_institutions
            - costumes
            - cottages_and_cabins
            - counseling_and_therapy
            - courts
            - creative_services
            - credit
            - credit_card
            - credit_counseling_and_bankruptcy_services
            - credit_reporting
            - crop_production
            - cruises
            - cuban
            - culinary_lessons_and_schools
            - cupcake_shop
            - cycling
            - dance
            - dance_and_music
            - dance_halls_and_saloons
            - dance_schools
            - dating_and_escort
            - day_care_and_preschools
            - debit
            - delis
            - dentists
            - department_stores
            - deposit
            - dermatologists
            - dessert
            - digit
            - digital_purchase
            - diners
            - dining
            - direct_mail_and_email_marketing_services
            - disabled_persons_services
            - discount_stores
            - distillery
            - distribution
            - doctors_and_dentists
            - donuts
            - doors_and_windows
            - driving_schools
            - drug_and_alcohol_services
            - dwolla
            - ear_nose_and_throat
            - eastern_european
            - education
            - electric
            - electrical_equipment
            - electrical_equipment_and_components
            - electricians
            - electronics
            - emergency_services
            - employment_agencies
            - engineering
            - entertainment
            - environmental
            - equestrian
            - equipment_rental
            - ethiopian
            - events_and_event_planning
            - excess_activity
            - expense
            - facilities_and_nursing_homes
            - fairgrounds_and_rodeos
            - falafel
            - family_medicine
            - farmers_markets
            - fast_food
            - fee
            - fences_fireplaces_and_garage_doors
            - filipino
            - financial
            - financial_planning_and_investments
            - fire_stations
            - fish_and_chips
            - flea_markets
            - florists
            - food_and_beverage
            - food_and_beverage_store
            - food_and_drink
            - food_truck
            - football
            - foreign_transaction
            - forestry
            - forests
            - fraternities_and_sororities
            - fraud_dispute
            - french
            - fuel
            - fuel_dealer
            - fund_raising
            - funeral_services
            - furniture_and_fixtures
            - furniture_and_home_decor
            - gardens
            - gas
            - gas_stations
            - gastroenterologists
            - gastropub
            - general
            - general_surgery
            - geological
            - german
            - gift_and_novelty
            - gifts
            - glass_products
            - glasses_and_optometrist
            - go_carts
            - golf
            - goods_and_merchandise
            - government_departments_and_agencies
            - government_lobbyists
            - greek
            - gun_ranges
            - gym
            - gymnastics
            - gyms_and_fitness_centers
            - hair_removal
            - hair_salons_and_barbers
            - hardware_and_services
            - hardware_store
            - health_food
            - healthcare
            - healthcare_services
            - heating_ventilating_and_air_conditioning
            - heliports
            - hiking
            - historic_sites
            - hobby_and_collectibles
            - hockey
            - holding_and_investment_offices
            - home
            - home_appliances
            - home_improvement
            - home_inspection_services
            - hookah_lounges
            - hospitals_clinics_and_medical_centers
            - hostels
            - hot_air_balloons
            - hotel_lounge
            - hotels_and_motels
            - household
            - housewares
            - housing_assistance_and_shelters
            - human_resources
            - hunting_and_fishing
            - ice_cream
            - immigration
            - import_and_export
            - income
            - indian
            - indonesian
            - industrial_machinery_and_equipment
            - industrial_machinery_and_vehicles
            - industrial_supplies
            - infrastructure
            - insufficient_funds
            - insurance
            - interest
            - interest_charged
            - interest_earned
            - interior_design
            - internal_account_transfer
            - internal_medicine
            - internet
            - internet_cafes
            - internet_services
            - investment
            - italian
            - japanese
            - jazz_and_blues_cafe
            - jewelry_and_watches
            - juice_bar
            - karaoke
            - keep_the_change_savings_program
            - kids
            - kids'_store
            - kitchens
            - korean
            - lakes
            - landmarks
            - landscaping_and_gardeners
            - late_payment
            - latin_american
            - laundry_and_garment_services
            - law_enforcement
            - lawn_and_garden
            - leather
            - leather_goods
            - legal
            - libraries
            - lighting_fixtures
            - limos_and_chauffeurs
            - lingerie_store
            - livestock_and_animals
            - loan
            - loans_and_mortgages
            - lodges_and_vacation_rentals
            - lodging
            - logging_and_sawmills
            - luggage
            - machine_shops
            - maintenance_and_repair
            - management
            - manicures_and_pedicures
            - manufacturing
            - marine_supplies
            - market_research_and_consulting
            - masonry
            - massage_clinics_and_therapists
            - media
            - media_production
            - medical_supplies_and_labs
            - mediterranean
            - men's_store
            - mental_health
            - metal
            - metal_products
            - metals
            - mexican
            - middle_eastern
            - military
            - miniature_golf
            - mining
            - mobile_homes
            - mobile_phones
            - monuments_and_memorials
            - moroccan
            - mosques
            - motorcycle_moped_and_scooter_repair
            - motorcycles_mopeds_and_scooters
            - mountains
            - movers
            - movie_theatres
            - museums
            - music_video_and_dvd
            - music_and_show_venues
            - musical_instruments
            - natural_parks
            - neurologists
            - news_reporting
            - newsstands
            - night_clubs
            - nightlife
            - non-metallic_minerals
            - nonmetallic_mineral_products
            - nurses
            - nutritionists
            - obstetricians_and_gynecologists
            - office
            - office_supplies
            - oil_and_gas
            - oncologists
            - online_advertising
            - online_subscriptions
            - ophthalmologists
            - optometrists
            - organizations_and_associations
            - orthopedic_surgeons
            - other
            - outdoors
            - outlet
            - overdraft
            - packaging
            - paintball
            - painting
            - paper
            - paper_products
            - parking
            - parks
            - party_centers
            - pathologists
            - pawn_shops
            - payment
            - paypal
            - payroll
            - pediatricians
            - personal_care
            - personal_trainers
            - pest_control
            - pet
            - petroleum
            - pets
            - pharmacies
            - phone
            - photography
            - photos_and_frames
            - physical_therapy
            - physicians
            - picnic_areas
            - piercing
            - pizza
            - plaid
            - plastic_products
            - plastic_surgeons
            - plastics
            - playgrounds
            - plumbing
            - podiatrists
            - police_stations
            - pools_and_spas
            - portuguese
            - post_offices
            - pregnancy_and_sexual_health
            - primary_and_secondary_schools
            - print_tv_radio_and_outdoor_advertising
            - printing_and_publishing
            - promotional_items
            - property_management
            - psychiatrists
            - psychics_and_astrologers
            - psychologists
            - public_and_social_services
            - public_relations
            - public_transportation_services
            - race_tracks
            - racquet_sports
            - racquetball
            - radiologists
            - rafting
            - rail
            - real_estate
            - real_estate_agents
            - real_estate_appraiser
            - real_estate_development_and_title_companies
            - recreation
            - recreation_centers
            - refrigeration_and_ice
            - refund
            - religious
            - renewable_energy
            - rent
            - repair_services
            - research
            - resorts
            - respiratory
            - restaurants
            - retirement
            - ride_share
            - rivers
            - rock_climbing
            - roofers
            - rubber
            - rubber_products
            - running
            - rvs_and_motor_homes
            - salvage_yards
            - sanitary_and_waste_management
            - save_as_you_go
            - scandinavian
            - scientific
            - scuba_diving
            - seafood
            - search_engine_marketing_and_optimization
            - security_and_safety
            - senior_citizen_services
            - service
            - service_instruments
            - services
            - shipping
            - shipping_and_freight
            - shoe_store
            - shopping
            - shopping_centers_and_malls
            - shops
            - skating
            - skin_care
            - skydiving
            - snow_sports
            - soccer
            - social_clubs
            - software
            - software_development
            - spanish
            - spas
            - specialty
            - sport
            - sporting_goods
            - sports_and_recreation_camps
            - sports_bar
            - sports_clubs
            - sports_venues
            - square
            - square_cash
            - stadiums_and_arenas
            - steakhouses
            - stock_brokers
            - storage
            - strip_club
            - student_aid_and_grants
            - subscription
            - supermarkets_and_groceries
            - sushi
            - swimming
            - swimming_pool_maintenance_and_services
            - swimwear
            - swiss
            - symphony_and_opera
            - synagogues
            - tailors
            - tanning_salons
            - tattooing
            - tax
            - taxes
            - taxi
            - telecommunication_services
            - television
            - temple
            - tennis
            - textiles
            - thai
            - theatrical_productions
            - third_party
            - tobacco
            - tolls_and_fees
            - tourist_information_and_services
            - towing
            - toys
            - transfer
            - transfers_and_adjustments
            - transport
            - transportation
            - transportation_centers
            - transportation_equipment
            - travel
            - travel_and_transportation
            - travel_agents_and_tour_operators
            - tree_service
            - turkish
            - tutoring_and_educational_services
            - upholstery
            - urologists
            - used_car_dealers
            - utilities
            - vegan_and_vegetarian
            - venmo
            - veterinarians
            - video_games
            - vintage_and_thrift
            - vocational_schools
            - warehouses_and_wholesale_stores
            - water
            - water_and_waste_management
            - water_sports
            - web_design_and_development
            - wedding_and_bridal
            - welding
            - wholesale
            - wine_bar
            - winery
            - wire
            - wire_transfer
            - withdrawal
            - women's_store
            - wood_products
            - writing_copywriting_and_technical_writing
            - yoga_and_pilates
            - youth_organizations
            - zoo
            type: string
          type: array
        merchant:
          $ref: '#/components/schemas/Transaction_merchant'
        status:
          description: The status of the transaction. This will be either posted or
            pending.
          enum:
          - pending
          - posted
          type: string
        type:
          description: "Type of the transaction, ie adjustment. '-' means we were\
            \ not able to map the upstream type."
          enum:
          - ach
          - adjustment
          - atm
          - bank_charge
          - bill_payment
          - card_payment
          - cash
          - cashback
          - charge
          - cheque
          - credit
          - debit
          - deposit
          - digital_payment
          - direct_debit
          - fee
          - in_store
          - interest
          - online
          - other
          - payment
          - purchase
          - standing_order
          - transaction
          - transfer
          - wire
          - withdrawal
          - "-"
          type: string
        iso_currency_code:
          description: The ISO-4217 currency code of the transaction
          type: string
        remote_data: {}
      required:
      - amount
      - category
      - date
      - description
      - merchant
      - remote_account_id
      - remote_data
      - remote_id
      - status
      - type
      type: object
    AssetReportTransaction:
      example:
        date: date
        amount: 5.637376656633329
        remote_id: remote_id
        iso_currency_code: iso_currency_code
        description: description
        merchant:
          name: name
        category:
        - accessories_store
        - accessories_store
        remote_account_id: remote_account_id
        status: pending
        remote_data: ""
      properties:
        remote_id:
          description: "Remote Id of the transaction, ie Plaid or Teller Id"
          type: string
        remote_account_id:
          description: "Remote Account Id of the transaction, ie Plaid Account Id"
          type: string
        amount:
          description: |-
            Amount in cents associated with the transaction. The format of this value is a double.
            Positive values when money moves out of the account; negative values when money moves in. For example, debit card purchases are positive; credit card payments, direct deposits, and refunds are negative.
          type: number
        date:
          description: Date of the transaction (YYYY-MM-DD)
          type: string
        description:
          description: Description of the transaction
          type: string
        category:
          description: "Categories of the transaction, ie Computers and Electronics.\
            \ '-' means we could not map the upstream category."
          items:
            enum:
            - accessories_store
            - accounting_and_bookkeeping
            - ach
            - acorns
            - acupuncture
            - adult
            - adult_education
            - adult_entertainment
            - advertising
            - advertising_agencies_and_media_buyers
            - advertising_and_marketing
            - afghan
            - african
            - agriculture_and_forestry
            - airlines_and_aviation_services
            - airports
            - alcohol_and_bars
            - alternative_medicine
            - american
            - anesthesiologists
            - animal_shelter
            - antiques
            - apartments_condos_and_houses
            - apparel_and_fabric_products
            - aquarium
            - arcades_and_amusement_parks
            - architects
            - art_and_graphic_design
            - art_dealers_and_galleries
            - art_restoration
            - art_school
            - arts_and_crafts
            - arts_and_entertainment
            - asian
            - assisted_living_services
            - athletic_fields
            - atm
            - atms
            - auctions
            - audiovisual
            - australian
            - auto_oil_and_lube
            - auto_payment
            - auto_smog_check
            - auto_tires
            - auto_transmission
            - automation_and_control_systems
            - automotive
            - bagel_shop
            - bakery
            - bank_fees
            - banking_and_finance
            - bar
            - barbecue
            - baseball
            - basketball
            - batting_cages
            - beaches
            - beauty_products
            - bed_and_breakfasts
            - beer_wine_and_spirits
            - benefits
            - betterment
            - bicycles
            - bill
            - billiards_and_pool
            - billpay
            - blood_banks_and_centers
            - boarding_houses
            - boat
            - boat_dealers
            - boating
            - books_and_supplies
            - bookstores
            - boutique
            - bowling
            - brazilian
            - breakfast_spot
            - breweries
            - building_and_land_surveyors
            - buildings_and_structures
            - burgers
            - burrito
            - bus_stations
            - business
            - business_and_strategy_consulting
            - business_brokers_and_franchises
            - business_services
            - cable
            - cafe
            - cajun
            - cameras
            - campgrounds_and_rv_parks
            - canoes_and_kayaks
            - car_and_truck_rentals
            - car_appraisers
            - car_dealers_and_leasing
            - car_parts_and_accessories
            - car_service
            - car_wash_and_detail
            - cardiologists
            - cards_and_stationery
            - caretakers
            - caribbean
            - carpenters
            - carpet_and_flooring
            - cash_advance
            - casinos_and_gaming
            - catering
            - cemetery
            - charities_and_non-profits
            - charity
            - charter_buses
            - chase_quickpay
            - check
            - check_cashing
            - chemicals_and_gasses
            - childcare
            - children
            - chinese
            - chiropractors
            - churches
            - circuses_and_carnivals
            - classic_and_antique_car
            - cleaning
            - clothing
            - clothing_and_accessories
            - coal
            - coffee_shop
            - coinbase
            - collections
            - colleges_and_universities
            - combat_sports
            - commercial_real_estate
            - community
            - computer_training
            - computers
            - computers_and_electronics
            - computers_and_office_machines
            - construction
            - construction_supplies
            - contractors
            - convenience_stores
            - corporate_housing
            - correctional_institutions
            - costumes
            - cottages_and_cabins
            - counseling_and_therapy
            - courts
            - creative_services
            - credit
            - credit_card
            - credit_counseling_and_bankruptcy_services
            - credit_reporting
            - crop_production
            - cruises
            - cuban
            - culinary_lessons_and_schools
            - cupcake_shop
            - cycling
            - dance
            - dance_and_music
            - dance_halls_and_saloons
            - dance_schools
            - dating_and_escort
            - day_care_and_preschools
            - debit
            - delis
            - dentists
            - department_stores
            - deposit
            - dermatologists
            - dessert
            - digit
            - digital_purchase
            - diners
            - dining
            - direct_mail_and_email_marketing_services
            - disabled_persons_services
            - discount_stores
            - distillery
            - distribution
            - doctors_and_dentists
            - donuts
            - doors_and_windows
            - driving_schools
            - drug_and_alcohol_services
            - dwolla
            - ear_nose_and_throat
            - eastern_european
            - education
            - electric
            - electrical_equipment
            - electrical_equipment_and_components
            - electricians
            - electronics
            - emergency_services
            - employment_agencies
            - engineering
            - entertainment
            - environmental
            - equestrian
            - equipment_rental
            - ethiopian
            - events_and_event_planning
            - excess_activity
            - expense
            - facilities_and_nursing_homes
            - fairgrounds_and_rodeos
            - falafel
            - family_medicine
            - farmers_markets
            - fast_food
            - fee
            - fences_fireplaces_and_garage_doors
            - filipino
            - financial
            - financial_planning_and_investments
            - fire_stations
            - fish_and_chips
            - flea_markets
            - florists
            - food_and_beverage
            - food_and_beverage_store
            - food_and_drink
            - food_truck
            - football
            - foreign_transaction
            - forestry
            - forests
            - fraternities_and_sororities
            - fraud_dispute
            - french
            - fuel
            - fuel_dealer
            - fund_raising
            - funeral_services
            - furniture_and_fixtures
            - furniture_and_home_decor
            - gardens
            - gas
            - gas_stations
            - gastroenterologists
            - gastropub
            - general
            - general_surgery
            - geological
            - german
            - gift_and_novelty
            - gifts
            - glass_products
            - glasses_and_optometrist
            - go_carts
            - golf
            - goods_and_merchandise
            - government_departments_and_agencies
            - government_lobbyists
            - greek
            - gun_ranges
            - gym
            - gymnastics
            - gyms_and_fitness_centers
            - hair_removal
            - hair_salons_and_barbers
            - hardware_and_services
            - hardware_store
            - health_food
            - healthcare
            - healthcare_services
            - heating_ventilating_and_air_conditioning
            - heliports
            - hiking
            - historic_sites
            - hobby_and_collectibles
            - hockey
            - holding_and_investment_offices
            - home
            - home_appliances
            - home_improvement
            - home_inspection_services
            - hookah_lounges
            - hospitals_clinics_and_medical_centers
            - hostels
            - hot_air_balloons
            - hotel_lounge
            - hotels_and_motels
            - household
            - housewares
            - housing_assistance_and_shelters
            - human_resources
            - hunting_and_fishing
            - ice_cream
            - immigration
            - import_and_export
            - income
            - indian
            - indonesian
            - industrial_machinery_and_equipment
            - industrial_machinery_and_vehicles
            - industrial_supplies
            - infrastructure
            - insufficient_funds
            - insurance
            - interest
            - interest_charged
            - interest_earned
            - interior_design
            - internal_account_transfer
            - internal_medicine
            - internet
            - internet_cafes
            - internet_services
            - investment
            - italian
            - japanese
            - jazz_and_blues_cafe
            - jewelry_and_watches
            - juice_bar
            - karaoke
            - keep_the_change_savings_program
            - kids
            - kids'_store
            - kitchens
            - korean
            - lakes
            - landmarks
            - landscaping_and_gardeners
            - late_payment
            - latin_american
            - laundry_and_garment_services
            - law_enforcement
            - lawn_and_garden
            - leather
            - leather_goods
            - legal
            - libraries
            - lighting_fixtures
            - limos_and_chauffeurs
            - lingerie_store
            - livestock_and_animals
            - loan
            - loans_and_mortgages
            - lodges_and_vacation_rentals
            - lodging
            - logging_and_sawmills
            - luggage
            - machine_shops
            - maintenance_and_repair
            - management
            - manicures_and_pedicures
            - manufacturing
            - marine_supplies
            - market_research_and_consulting
            - masonry
            - massage_clinics_and_therapists
            - media
            - media_production
            - medical_supplies_and_labs
            - mediterranean
            - men's_store
            - mental_health
            - metal
            - metal_products
            - metals
            - mexican
            - middle_eastern
            - military
            - miniature_golf
            - mining
            - mobile_homes
            - mobile_phones
            - monuments_and_memorials
            - moroccan
            - mosques
            - motorcycle_moped_and_scooter_repair
            - motorcycles_mopeds_and_scooters
            - mountains
            - movers
            - movie_theatres
            - museums
            - music_video_and_dvd
            - music_and_show_venues
            - musical_instruments
            - natural_parks
            - neurologists
            - news_reporting
            - newsstands
            - night_clubs
            - nightlife
            - non-metallic_minerals
            - nonmetallic_mineral_products
            - nurses
            - nutritionists
            - obstetricians_and_gynecologists
            - office
            - office_supplies
            - oil_and_gas
            - oncologists
            - online_advertising
            - online_subscriptions
            - ophthalmologists
            - optometrists
            - organizations_and_associations
            - orthopedic_surgeons
            - other
            - outdoors
            - outlet
            - overdraft
            - packaging
            - paintball
            - painting
            - paper
            - paper_products
            - parking
            - parks
            - party_centers
            - pathologists
            - pawn_shops
            - payment
            - paypal
            - payroll
            - pediatricians
            - personal_care
            - personal_trainers
            - pest_control
            - pet
            - petroleum
            - pets
            - pharmacies
            - phone
            - photography
            - photos_and_frames
            - physical_therapy
            - physicians
            - picnic_areas
            - piercing
            - pizza
            - plaid
            - plastic_products
            - plastic_surgeons
            - plastics
            - playgrounds
            - plumbing
            - podiatrists
            - police_stations
            - pools_and_spas
            - portuguese
            - post_offices
            - pregnancy_and_sexual_health
            - primary_and_secondary_schools
            - print_tv_radio_and_outdoor_advertising
            - printing_and_publishing
            - promotional_items
            - property_management
            - psychiatrists
            - psychics_and_astrologers
            - psychologists
            - public_and_social_services
            - public_relations
            - public_transportation_services
            - race_tracks
            - racquet_sports
            - racquetball
            - radiologists
            - rafting
            - rail
            - real_estate
            - real_estate_agents
            - real_estate_appraiser
            - real_estate_development_and_title_companies
            - recreation
            - recreation_centers
            - refrigeration_and_ice
            - refund
            - religious
            - renewable_energy
            - rent
            - repair_services
            - research
            - resorts
            - respiratory
            - restaurants
            - retirement
            - ride_share
            - rivers
            - rock_climbing
            - roofers
            - rubber
            - rubber_products
            - running
            - rvs_and_motor_homes
            - salvage_yards
            - sanitary_and_waste_management
            - save_as_you_go
            - scandinavian
            - scientific
            - scuba_diving
            - seafood
            - search_engine_marketing_and_optimization
            - security_and_safety
            - senior_citizen_services
            - service
            - service_instruments
            - services
            - shipping
            - shipping_and_freight
            - shoe_store
            - shopping
            - shopping_centers_and_malls
            - shops
            - skating
            - skin_care
            - skydiving
            - snow_sports
            - soccer
            - social_clubs
            - software
            - software_development
            - spanish
            - spas
            - specialty
            - sport
            - sporting_goods
            - sports_and_recreation_camps
            - sports_bar
            - sports_clubs
            - sports_venues
            - square
            - square_cash
            - stadiums_and_arenas
            - steakhouses
            - stock_brokers
            - storage
            - strip_club
            - student_aid_and_grants
            - subscription
            - supermarkets_and_groceries
            - sushi
            - swimming
            - swimming_pool_maintenance_and_services
            - swimwear
            - swiss
            - symphony_and_opera
            - synagogues
            - tailors
            - tanning_salons
            - tattooing
            - tax
            - taxes
            - taxi
            - telecommunication_services
            - television
            - temple
            - tennis
            - textiles
            - thai
            - theatrical_productions
            - third_party
            - tobacco
            - tolls_and_fees
            - tourist_information_and_services
            - towing
            - toys
            - transfer
            - transfers_and_adjustments
            - transport
            - transportation
            - transportation_centers
            - transportation_equipment
            - travel
            - travel_and_transportation
            - travel_agents_and_tour_operators
            - tree_service
            - turkish
            - tutoring_and_educational_services
            - upholstery
            - urologists
            - used_car_dealers
            - utilities
            - vegan_and_vegetarian
            - venmo
            - veterinarians
            - video_games
            - vintage_and_thrift
            - vocational_schools
            - warehouses_and_wholesale_stores
            - water
            - water_and_waste_management
            - water_sports
            - web_design_and_development
            - wedding_and_bridal
            - welding
            - wholesale
            - wine_bar
            - winery
            - wire
            - wire_transfer
[...]
